# Ignore environment file
.env

# Ignore node modules
node_modules/

# Ignore uploads folder

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# System files
.DS_Store
Thumbs.db
